/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700

*/

:root {
    --primary-color : hsl(180, 29%, 50%);
    --secondary-color: hsl(180, 52%, 96%);
    --tertiary-color: hsl(180, 31%, 95%);
    --auxiliar-color:  hsl(180, 8%, 52%);
    --secondary-color-auxiliar:  hsl(180, 14%, 20%);

}


*{
    margin: 0;
}
.listing-job-filter-container{
    background-color: var(--secondary-color);
    min-height: 100vh;
   
}

.filtros-container{
   background-image: url('../images/bg-header-desktop.svg');
   min-height: 17vh;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
}

.filtro{
    /* border: solid red 1px; */
    position: absolute;
    width: 60%;
    left: 20%;
    top: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5rem;
    background-color: var(--tertiary-color);

    box-shadow: -5px 10px 15px rgba(0, 0, 0, .7);
}

.delete-button {
    background-color:var(--primary-color) ;
    transition: all ease-in-out .5s;
}

.delete-button:hover {
    background-color: #000;
    transition: .5s;
    cursor: pointer;
}


.clear{
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.clear:hover{
    cursor: pointer;
    border-bottom:  1px solid;
    transition: .5s;
    
}

.categoria {
   /*  border: solid transparent 1px; */
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    font-size: 8px;
    background-color: rgb(181, 230, 220);
    border-radius: 2px;
}


.jobs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}


.job{
    margin-top: 1rem;
    background-color: var(--tertiary-color);
    width: 60%;
    border: solid rgb(212, 212, 212) 1px;
    border-radius: 5px;
    box-shadow: -15px 15px 10px rgba(0, 0, 0, .7);
    padding: 1rem;
}

