/* 

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 700

*/

:root {
    --primary-color : hsl(180, 29%, 50%);
    --secondary-color: hsl(180, 52%, 96%);
    --tertiary-color: hsl(180, 31%, 95%);
    --auxiliar-color:  hsl(180, 8%, 52%);
    --secondary-color-auxiliar:  hsl(180, 14%, 20%);

}


*{
    margin: 0;
}
.listing-job-filter-container{
    background-color: var(--secondary-color);
    min-height: 100vh;
   
}

.filtros-container{
   background-image: url('../images/bg-header-desktop.svg');
   min-height: 17vh;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
   background-color: var(--primary-color);
}

.filtro{
    /* border: solid red 1px; */
    position: absolute;
    width: 60%;
    left: 20%;
    top: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5rem;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, .7);      
}

.delete-button {
    background-color:var(--primary-color) ;
    transition: all ease-in-out .5s;
}

.delete-button:hover {
    background-color: #000;
    transition: .5s;
    cursor: pointer;
}


.clear{
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.clear:hover{
    cursor: pointer;
    border-bottom:  1px solid;
    transition: .5s;
    
}

.categoria {
   /*  border: solid transparent 1px; */
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    font-size: 8px;
    background-color: rgb(181, 230, 220);
    border-radius: 2px;
}


.jobs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
   
}


.job{
    margin-top: 1rem;
    background-color: var(--tertiary-color);
    width: 60%;
    border: solid rgb(212, 212, 212) 1px;
    border-radius: 5px;
    box-shadow: -15px 15px 10px rgba(0, 0, 0, .7);
    padding: 1rem;
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child1 {
   /*  border:  solid cyan 1px; */
    display: flex;
    padding: .5rem;
    gap: .7rem;
}
.child1 span {
    color: var(--auxiliar-color);
}

.child1 h2{
    color: var(--primary-color);
    font-weight: bold;
}

.child2{
    /* border: solid green 1px; */
    
}


.child2 button {
    margin-left: 10px;
    border: solid transparent;
    color: var(--primary-color);
    font-weight: bold;
    background-color: rgb(193, 219, 214);
    transition: all ease-in-out .5s ;
    font-size: small;
    
}

.child2 button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .5s;
}



@media screen and (min-width:700px) and (max-width:1000px) {
        
    .job{
        width: 80%;

    }
    .child2 button {
        margin-left: 10px;
        margin-top: 10px;
        
    }

}

@media screen and (max-width:500px) {
            
    .job{
        padding: 2rem;
        /* border: solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        position: relative;
        margin-bottom: 1.5rem;
    }

    .child1 span{
        margin-top: 2rem;
        display: inline-block;
        margin: 2rem 0px 5px;
    }

    .child2{
        border-top: solid black 1px;
    }
    
    .child2 button{
        margin: 4px;
    }
    .job img{
        position: absolute;
        top: -15%;
        left: 8%;
        width: 60px;
        
    }
    .jobs-container{
        margin-top: 7rem;
       /*  border: solid red 2px; */
    }

    .filtro{
        /* background-color: yellow; */
        width: 70%;
        padding: 1rem;
        left: 10%;
        
    }

    .filtro div,button{
        margin: 7px;
        
    }
   

}
